a.top-menu{
  position: relative; /* This makes everything work.*/
  /* Allows you to layer overlapping elements. */
  z-index: 20;
}

a.top-menu span{
  display: none;
}


a.top-menu i:hover{
  /* Allows you to layer overlapping elements.*/
  z-index: 30;
}

a.top-menu:hover span{
    display:block;
    position:absolute;
    text-decoration:none;
    text-align: center;
    width: 200px;
    padding: 5px
    color: white;
    background: green;
    font-size: 25px;
    top: 40px;
    left: -30px;

}

.tooltip-text {
    color: white;
}