{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>My Blog</title>

    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="https://fonts.googleapis.com/css?Tangerine:bold,bolditalic|Inconsolata:ota;oc|Drpod+Sans"
          type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>
<div class="page-header">
    {% if user.is_authenticated %}
    <a href="{% url 'post_draft_list' %}" class="top-menu"><i class="fas fa-calendar-week fa-2x"></i></a>
    <a href="{% url 'post_new' %}" class="top-menu"><i class="far fa-plus-square fa-2x"></i></a>
    <a href="{% url 'logout' %}" class="top-menu"><i class="fas fa-sign-out-alt fa-2x"></i></i></a>
    {% else %}
    <a href="{% url 'login' %}" class="top-menu"><i class="fas fa-sign-in-alt fa-2x"></i></i></a>
    {% endif %}
    <h1><a href="/">My BLOG</a></h1>
</div>

<div class="content">
    <div class="row">
        <div class="col-md-8">

            {% block content %}
            {% endblock %}

        </div>
    </div>

</div>
</body>
</html>